<div class="container">
  <h2>Result</h2>
  <%if @success && @belongs %>
    <p><strong>Congratulations!</strong> <%= @answer %> is a valid English word, and it belongs to the given letters (<%= @string_letters %>)!</p>
    <p><strong>Score : <%= @score %></strong></p>
    <p><strong>Total score : <%= session[:score] %></strong></p>
  <% elsif @success == false && @belongs %>
      <p>Sorry but <%= @answer %> does not seem to be an English word... But you did a good use of the given letters (<%= @string_letters %>)</p>
  <% elsif @success && @belongs == false %>
      <p>Sorry but <%= @answer %> can't be built out of "<%= @string_letters %>", even though it's a correct English word.</p>
  <% else %>
      <p>What in the hell did you write? It is nor an English word, nor it belongs to "<%= @string_letters %>", go eat a donkey's ass</p>
  <% end %>

  <%= link_to "Play again", new_path %>

</div>
